.carrossel__titulo {
  background-color: var(--branco);
  color: var(--cor-titulos);
  font-size: 1.12rem;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}
.swiper{
  margin: 2%;
}
.swiper-slide img {
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-pagination {
  position: initial;
  padding: .5em;
}
