.contato {
  padding: 5%;
  background-color: var(--branco);
}

.contato__titulo,
.contato__texto {
  background: var(--azul-nomes);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contato__titulo {
  font-size: 1.12rem;
  font-weight: 500;
}
.contato__texto {
  margin: 5% 0 5% 0;
}

.contato__email {
  color: var(--azul-nomes);
  border: solid 1px var(--azul-nomes);
  border-radius: 24px;
  padding: 1rem;
  width: 90%;
}
.contato__email::placeholder {
  background: url("../Assets/Email.svg") no-repeat;
  background-position: 1%;
  font-family: var(--fonte-principal);
  padding-left: 2em;
  font-size: 1.12rem;
  color: var(--azul-nomes);
}

@media screen and (min-width: 1024px) {
  .contato{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .contato__titulo{
    font-size: 1.5rem;
  }
  .contato__email{
    width: 30%;
    border-radius: 50px;
    padding: 1%;
  }
  .contato__descricao{
    margin-right: 3%;
    width: 30%;
  }
}