@import url("../Styles/topicos.css");
@import url("../Styles/card.css");
@import url("../Styles/header.css");
@import url("../Styles/banner.css");
@import url("../Styles/carrossel.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --cor-titulos: #eb9b00;
  --azul-nomes: #002F52;
  --cor-descricao: rgba(0, 0, 0, 0.85);
  --azul-degrade: linear-gradient(160deg, #002f52 0%, #326589 100%);
  --fonte-principal: "Poppins";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1rem;
}
